input, select {
    font-size: 1em;
    padding: .5rem;
    margin-bottom: .6rem
}
button {
    margin-top: 20px;
    margin-right: 5px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
}
button:hover {
    background-color: #cfd8dc;
}
.wrongValue {
    color: red;
}
.details {
    max-width: 30em;
}
.heroName {
    width: 100%;
}

.heroParameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

